*{
    margin: 0;
    box-sizing: border-box;
}
@font-face {
    font-family:ancientmedium ;
    src: url('Ancient Medium.ttf');
}
body{
    background-color: black;
    display:flex;
   justify-content:center;
   margin-top: 150px;
}
.letras{
    color: aliceblue;
    position: absolute;
    top: 90px;
    font-family:ancientmedium ;
    font-size: 3rem;
}
.image-container{
    position: absolute;
}
#letter{
    color: white;
}
.container{
    width: 400px;
    height: 400px;
    background-color:black;
    border-radius: 10px;
    text-align: center;
    border: 7px solid whitesmoke;    
}
#usuario{
    border-radius: 10px;
    font-size: 20px;
    margin-top: 150px;
    background-color: gray;
    text-align: center;
}
::placeholder{
    color: white;
    font-size: 20px;
        
}
#senha{
    border-radius: 10px;
    font-size: 20px;
    background-color: gray;
    text-align: center;
}
#subimit{
    font-family: ancientmedium;
    font-size: 20px;
    margin-top: 50px;
}
