*{
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    color: aliceblue;
    text-decoration: none;
}
.menubar{
        
    position: fixed;
    width: 0px;
    height: 100%;
    top: -1px;
    z-index: 9;
    transition: all 0.4s ease;
}







.menu{
    position: fixed;
    top: 5px;
    height: 200%;
    width: 0px;
    background-color: aliceblue;
    transition: all 1.0s ease;
    
}
.menu h1{
    color: #0c0e11;
    left: 1900px;
    top: 16%;
    transition: all 0.2s ease;
}

header{
    position: fixed;
    width: 100%;
    background-color:#20252b;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 999;
}
header h1{
    color: aliceblue;
    position: relative;
        left: 100px;
}
header p {
    position: relative;
    left: 240px;
}
#search-1{
    width: 200px;
    height: 25px;
    border-radius: 5px;
    position: relative;
    left: 100px;
    background-color:#24292f;
    border: 1px solid white;
}
header span img{
    border-radius: 200px;
    margin-top: 6px;
    position: relative;
    left: 15px;
}
.check-log{
    display: flex;
    justify-content:end;
    gap: 10px;
    margin: 10px 10px;
    
}
.check-log a {
    text-decoration: none;
    border: 2px solid;
    border-radius: 15px;
    text-align: center;
    color: aliceblue;
    padding: 10px;
}

/* Agora Tudo Aqui é DO MAIN */
main{
    overflow: hidden;
    background: linear-gradient(to bottom ,#181c20,#1c1f24 ,#181c22 );
}
.come{
    text-shadow: 10px 10px 10px black;
    font-size: 30px;
    margin: 50px;
}

.comeco{
    padding: 10px;
    
}
.fotocapa{
display: flex;
flex-direction: column;
gap: 10px;
align-items: center;
text-align:center;
}
.fotocapa img{
    border-radius: 20px;
}
.finallet{
    display: flex;
    justify-content: center;
}
/* Agora Tudo Aqui é DO Footer */
footer{
    background-color: #24292f;
    overflow: hidden;
    height: 100%;
    
}
.finalicons{
    display: flex;
    flex-direction: column;
    padding: 30px;
    align-items: center;
   
    
}